.search-page {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}
.search-header {
  display: flex;
}

.search-header > h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  color: var(--primary);
  margin-left: 5.5rem;
}

.search-logo {
  width: 8rem;
  height: fit-content;
}
